<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img src="/img/profile.jpg" alt="profile" class="landscape">
    <p>My name is {{ name }}</p>
    <p>It uses data from mapbox.com and weatherstack.com</p>

    </div>
    {{>footer}}
</body>
</html>